CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_DRM=y
CONFIG_DRM_IGNORE_IOTCL_PERMIT=y
CONFIG_DRM_ROCKCHIP=y
CONFIG_ROCKCHIP_VOP=y
CONFIG_ROCKCHIP_DW_MIPI_DSI=y
# CONFIG_ROCKCHIP_DW_MIPI_DSI2 is not set
CONFIG_ROCKCHIP_RGB=y
CONFIG_DRM_PANEL_SIMPLE=y
CONFIG_DRM_PANEL_SIMPLE_OF_ONLY=y
CONFIG_DRM_SII902X=y
CONFIG_FB=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_BACKLIGHT_PWM=y
CONFIG_BACKLIGHT_WAVESHARE=y
CONFIG_ROCKCHIP_MULTI_RGA=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_LEGACY_ACCELERATION=y

CONFIG_I2C_MUX=y

CONFIG_VT_CONSOLE=y
CONFIG_VT=y

CONFIG_FB_CMDLINE=y
CONFIG_SPI=y
CONFIG_SPI_ROCKCHIP=y
CONFIG_SPI_SPIDEV=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_FB=y
